
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<center><h1>About us </h1>
    <p> This website was created as my first HTML and django project on 12/07/20 while pursuing the django course on udemy.</p>
    <br /><a href=" https://www.udemy.com/course/the-ultimate-beginners-guide-to-django-django-2-python-web-dev-website/" target="_blank"> Try the course yourself </a>
    <br />
    <br />
    <a href="mailto:webmaster@example.com"> Write to me </a></center>

<br />
<br />
<br />
<button type="button"> <a href= "{% url 'home' %}"> < </a> </button>

</body>
</html>